@import './base.css';

/* Vue Flow 核心样式 */
@import '@vue-flow/core/dist/style.css';
/* Vue Flow 默认主题 */
@import '@vue-flow/core/dist/theme-default.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

